Django>=5.1.7
python-dotenv>=1.0.0
psycopg2>=2.9.9
psycopg2-binary>=2.9.9
Pillow>=10.2.0  # for image handling
django-crispy-forms>=2.1  # for better form rendering
django-cleanup>=8.1.0  # for automatic file cleanup
whitenoise>=6.6.0  # for serving static files
gunicorn>=21.2.0  # for production deployment 